body{
    background-color: rgb(238, 88, 88);
}

#dvCabeça{
    width: auto;
    height: 150px;
    background-color: rgba(226, 130, 85, 0.815);
    border: 1px solid none;
    border-radius: 50px;
}
#titulo{
    position: absolute;
    font-size: 30pt;
    margin-left: 500px;
    top: 0px;
    color: rgb(228, 183, 183);
}

form{
    /* border: 1px solid;
    border-radius: 10px; */
    width: 700px;
    height: auto;
    margin-top: 10px;
    margin-left: 590px;
    background-color:rgba(194, 73, 73, 0.849);
}

form h1{
    text-align: center;
    font-size: 25pt;
    text-decoration: underline;
}

fieldset{
    border: 2px solid black;
    width: 400px;
    margin-left: 140px;
}

.emailP{
    text-align: center;
    font-size: 20pt;
    color: rgba(68, 7, 7, 0.815);
    /* border: 1px solid;
    border-left: none;
    border-right: none; */
    width: 500px;
    margin-left: 90px;
}

#span1{
    color: rgb(0, 0, 0);
}

label{
    font-size: 12pt;
    display: block;
}

#nome{
    background-color: tomato;
    width: 200px;
    height: 25px;
    /* border-radius: 10px;
    border-color: black; */
    margin-bottom: 10px;
}

#email{
    background-color: tomato;
    width: 200px;
    height: 25px;
    /* border-radius: 10px;
    border-color: black; */
    margin-bottom: 10px;
}

#tel{
    background-color: tomato;
    width: 200px;
    height: 25px;
    /* border-radius: 10px;
    border-color: black; */
    margin-bottom: 10px;
}

#dadosPessoais{
    margin-left: 170px;
}

#btn1{
    cursor: pointer;
}

#btn2{
    display: none;
}

#txt1{
    display: none;
}

.mBaixo{
    margin-bottom: 5px;
}

button{
    background-color: tomato;
    /* border-radius: 10px;
    border: none; */
}

button:hover{
    background-color: rgb(122, 54, 42);
}

textarea{
    background-color: tomato;
}

#submit{
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 320px;
}