@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://giffiles.alphacoders.com/207/207220.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}
section .circle{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(238, 88, 88);
    width: 100%;
    height: 100%;
    clip-path:circle(70% at right 20%);
}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items:top;
}
header .logo{
    position: relative;
    max-width: 120px;
}
header .navegation{
    position: relative;
    display: flex;
}
header .navegation li{
    list-style:none;
}
header .navegation li a{
    display: inline-block;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: rgb(228, 183, 183);
    border-radius: 40px;
}
header .navegation li a#impot{
    background-color: rgb(136, 136, 187);
}
header .navegation li a:hover{
    background-color: white;
    transform: translateY(-10px);
}
p{
    text-align:justify;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .textBox h2{
    color:black;
    font-size:40pt;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}
.content .textBox p{
    color:black;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: gray;
    color: black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.content .textBox a:hover{
    background-color: white;
    transform: translateY(-10px);
}
.sci{
    position: fixed;
    bottom: 50px;
    left: 300px;
    display: flex;
    justify-content: bottom;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin-left: 15px;
    background-color: black;
    width: 50px;
    height:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.sci li a:hover{
    background-color: gray;
    transform: translateY(-10px);
}
.sci li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.swiper-container{
    width: 100%;
    height: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: top;
}
.content.imgBox{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: top;
}
.content .imgBox img{
    max-width: 180px;
}
.swiper-slide img{
    position: absolute;
    bottom: 0;
    max-height: 100%;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}
#dvVideo{
    margin-top: -250px;
    width: 800px;
}
#dvVideo #op1{
    margin-left: 100px;
}
#dvVideo #pOp1{
    margin-left: 120px;
}
#dvVideo #op2{
    margin-top: -400px;
    margin-bottom: -300px;
    margin-left: 300px;
}
#dvVideo #pOp2{
    margin-left: 320px;
}



p{
    text-indent: 20px;
}