body{
    background-color: rgb(238, 88, 88);
    overflow-x: hidden;
}

#dvCabeça{
    width: auto;
    height: 150px;
    background-color: rgba(226, 130, 85, 0.815);
    border: 1px solid none;
    border-radius: 50px;
}
#titulo{
    position: absolute;
    font-size: 30pt;
    margin-left: 500px;
    top: 0px;
    color: rgb(228, 183, 183);
}



#dvPersonagens{
    margin-left: 40px;
}



.ApresentaçãoDePersonagens{
    font-size: 25pt;
    border: 1px solid black;
    border-radius: 15px;
    width: 450px;
    height: 50px;
    text-align: center;
    color: rgb(77, 51, 51);
    background-color: rgb(236, 116, 116);
    margin-left: 150px;
}




#dvTaiga{
    border:2px solid;
    margin-left: 50px;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(218, 18, 78);
}
#aTaiga{
    color: black;
    text-decoration: underline;
}
#imgTaiga{
    width: 250px;
    height: 250px;
}
#pTaiga{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvTaiga:hover{
    transform: translateY(-10px);
    background-color: rgba(158, 32, 32, 0.712);
    border-color: blue;
}



#dvRyuji{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(55, 57, 201);
    margin-left: 420px;
    margin-top: -304px;
}
#aRyuji{
    color: black;
    text-decoration: underline;
}
#imgRyuji{
    width: 250px;
    height: 255px;
}
#pRyuji{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvRyuji:hover{
    transform: translateY(-10px);
    background-color: rgba(28, 40, 148, 0.979);
    border-color: blue;
}



#dvMinori{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(206, 22, 144);
    margin-left: 791px;
    margin-top: -304px;
}
#aMinori{
    color: black;
    text-decoration: underline;
}
#imgMinori{
    width: 250px;
    height: 255px;
}
#pMinori{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvMinori:hover{
    transform: translateY(-10px);
    background-color: rgba(163, 12, 100, 0.712);
    border-color: blue;
}



#dvYuusaku{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(57, 145, 68);
    margin-left: 1157px;
    margin-top: -304px;
}
#aYuusaku{
    color: black;
    text-decoration: underline;
}
#imgYuusaku{
    width: 250px;
    height: 255px;
}
#pYuusaku{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvYuusaku:hover{
    transform: translateY(-10px);
    background-color: rgba(27, 129, 6, 0.712);
    border-color: blue;
}



#dvAmi{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(44, 141, 206);
    margin-left: 1521px;
    margin-top: -304px;
}
#aAmi{
    color: black;
    text-decoration: underline;
}
#imgAmi{
    width: 250px;
    height: 255px;
}
#pAmi{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvAmi:hover{
    transform: translateY(-10px);
    background-color: rgb(33, 107, 156);
    border-color: blue;
}



#dvYasuko{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(218, 200, 39);
    margin-left: 50px;
    margin-top: 50px;
}
#aYasuko{
    color: black;
    text-decoration: underline;
}
#imgYasuko{
    width: 250px;
    height: 255px;
}
#pYasuko{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvYasuko:hover{
    transform: translateY(-10px);
    background-color: rgb(179, 153, 7);
    border-color: blue;
}




#dvSumire{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: white;
    margin-left: 420px;
    margin-top: -305px;
}
#aSumire{
    color: black;
    text-decoration: underline;
}
#imgSumire{
    width: 250px;
    height: 255px;
}
#pSumire{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvSumire:hover{
    transform: translateY(-10px);
    background-color: rgb(131, 106, 106);
    border-color: blue;
}




#dvHisamitsu{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(83, 250, 32);
    margin-left: 791px;
    margin-top: -305px;
}
#aHisamitsu{
    color: black;
    text-decoration: underline;
}
#imgHisamitsu{
    width: 250px;
    height: 255px;
}
#pHisamitsu{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvHisamitsu:hover{
    transform: translateY(-10px);
    background-color: rgb(17, 112, 4);
    border-color: blue;
}




#dvNanako{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(108, 32, 250);
    margin-left: 1157px;
    margin-top: -305px;
}
#aNanako{
    color: black;
    text-decoration: underline;
}
#imgNanako{
    width: 250px;
    height: 255px;
}
#pNanako{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvNanako:hover{
    transform: translateY(-10px);
    background-color: rgb(57, 20, 82);
    border-color: blue;
}



#dvMaya{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(236, 146, 61);
    margin-left: 1521px;
    margin-top: -305px;
}
#aMaya{
    color: black;
    text-decoration: underline;
}
#imgMaya{
    width: 250px;
    height: 255px;
}
#pMaya{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvMaya:hover{
    transform: translateY(-10px);
    background-color: rgb(163, 75, 16);
    border-color: blue;
}



#dvYuri{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(221, 129, 183);
    margin-left: 610px;
    margin-top: 50px;
}
#aYuri{
    color: black;
    text-decoration: underline;
}
#imgYuri{
    width: 250px;
    height: 255px;
}
#pYuri{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvYuri:hover{
    transform: translateY(-10px);
    background-color: rgb(214, 78, 157);
    border-color: blue;
}



#dvKoji{
    border:2px solid;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    background-color: rgb(35, 48, 170);
    margin-left: 980px;
    margin-top: -304px;
}
#aKoji{
    color: black;
    text-decoration: underline;
}
#imgKoji{
    width: 250px;
    height: 255px;
}
#pKoji{
    text-align:center;
    font-size: 20pt;
    margin-top: 3px;
}
#dvKoji:hover{
    transform: translateY(-10px);
    background-color: rgb(4, 24, 112);
    border-color: blue;
}