#dvCabeça{
    width: auto;
    height: 150px;
    background-color: rgba(226, 130, 85, 0.815);
    border: 1px solid none;
    border-radius: 50px;
}

#titulo{
    position: absolute;
    font-size: 30pt;
    margin-left: 500px;
    top: 0px;
    color: rgb(228, 183, 183);
}

body{
    background-color: rgb(238, 88, 88);
    overflow-x: hidden;
}

#corpoFull{
    margin-top: 20px;
    margin-left: 450px;
    width: 1000px;
    height: 2000px;
}

#dvApresentação{
    background-color:rgba(194, 73, 73, 0.849);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 450px;
    padding: 10px;
    margin-left: 2px;
    margin-top: 2px;
    
}

#dvEnredo{background-color:rgba(194, 73, 73, 0.849);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin-left: 476px;
    margin-top: -653px;
    margin-bottom: 2px;
    background-color:rgba(194, 73, 73, 0.849);
}

.maiorCent{
    font-size: 30px;
    text-align: center;
}

#dvMidia{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 10px;
    background-color:rgba(194, 73, 73, 0.849);
}

#ft{
    margin-left: 750px;
    margin-top: 40px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 400px;
    height: 50px;
    text-align: center;
    background-color:rgba(194, 73, 73, 0.849);
}

p{
    text-indent: 20px;
}